---
// Extraer las propiedades de Astro.props
const { title, subTitle } = Astro.props;

// Definir la interfaz TypeScript para las propiedades
interface Props {
  title: string;
  subTitle: string;
}
---

<div>
  <p class="text-3xl font-bold text-red-600 dark:text-red-500">{title}</p>
  <p class="mt-1 text-neutral-600 dark:text-neutral-400">{subTitle}</p>
</div>