---
const { url } = Astro.props;

interface Props {
  url: string;
}

// Definir clases de estilo
// CAMBIOS:
// 1. hover:text-red-600 (Añadido para que el icono se ponga rojo al pasar el mouse)
// 2. outline-hidden -> outline-none (Estándar)
// 3. Ajuste de colores hover para consistencia
const linkClass =
  "inline-flex h-10 w-10 items-center justify-center gap-x-2 rounded-lg border border-transparent text-sm font-bold text-neutral-700 outline-none ring-zinc-500 transition duration-300 hover:bg-neutral-100 hover:text-red-600 focus:outline-none focus-visible:ring-3 focus-visible:ring-zinc-500 dark:ring-zinc-200 dark:text-neutral-400 dark:hover:bg-neutral-800 dark:hover:text-red-500";
---

<a class={linkClass} href={url} target="_blank" rel="noopener noreferrer">
  <slot />
</a>